doctype html
head
  meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
  title Smoothed D3.js Radar Chart
  // Google fonts
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet', type='text/css')
  // D3.js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js', charset='utf-8')
  // radar chart
  script(src='radarChart.js')
  script(src='radarLoader.js')
  style.
    body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 300;
    fill: #242424;
    text-align: center;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    cursor: default;
    }
    .legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
    }
    .tooltip {
    fill: #333333;
    }
.radarChart

