.DS_Store
*.seed
*.log
*.dat
*.out
*.pid
*.gz
.idea
*.sublime-project
*.sublime-workspace
*.sublime-workspace

.env

extension/build/
extension/dist/
extension/docs/

extension/node_modules/
backend/node_modules/
react-pieces/node_modules/
methodology/node_modules/
methodology/profiles/*
methodology/extension
