.DS_Store
*.seed
*.log
*.dat
*.out
*.pid
*.gz
.idea
*.sublime-project
*.sublime-workspace
*.sublime-workspace

.env

extension/build/
extension/dist/
extension/docs/
backend/htmls/
backend/dist/
backend/farfalla/

extension/node_modules/
backend/node_modules/
