doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="pornhub tracking exposed")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(property="og:title" content="pornhub.tracking.exposed")
    meta(property="og:type" content="website")
    meta(property="og:description" content="pornhub.TREX is a browser extension to collect the related video suggested by pornhub algorthim. giulia please review this included content")
    meta(property="og:url" content="https://pornhub.tracking.exposed")
    meta(property="og:image" content="https://pornhub.tracking.exposed/images/pornhub-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")

    title pornhub.tracking.exposed

  body

    include header
    
    .container-fluid.padded
        h1 pornhub.tracking.exposed
    
    .container-fluid.padded
        h2 
            i HERE WE SHOULD HAVE AN IMPACTFUL VISUALIZATION ON WHY and HOW ALGORITHM WORKS

    .container-fluid.padded
        p Get the extension, for:
            a(href="https://addons.mozilla.org/en-US/firefox/addon/potrex/") Firefox
            |, 
            a(href="https://chrome.google.com/webstore/detail/potrex/opdgglojgcnjmpncchhfanbojjjopnnk") Chrome
            |.

