doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="keywords" content="pornhub tracking exposed")

    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')

    meta(property="og:title" content="pornhub.tracking.exposed")
    meta(property="og:type" content="website")
    meta(property="og:description" content="pornhub.TREX API specification. Giulia please review this included content")
    meta(property="og:url" content="https://pornhub.tracking.exposed/specs")
    meta(property="og:image" content="https://pornhub.tracking.exposed/images/pornhub-trex-logo.png")
    meta(property="og:image:width" content="1000")
    meta(property="og:image:height" content="1000")

    title specs of pornhub.tracking.exposed

  body

    include header
    
    .container-fluid.padded
        h1 API
        p The basic API which so far, all the results are based upon is /api/v1/basic
        p If called without any parameters, it returns one object for every video observed by an installed browser extension. Please keep in mind, you can have the same videoId repeated, and even the same pseudonym repeased. The focus of this project, is observing how and when the 
            i related
            |  changes (and they might not even change). 
            i id
            |  is guarantee to be unique in the dataset.

